Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Cors==5.2.0
python-dotenv==1.0.1
pytgcalls==3.0.0
cryptography==44.0.0
requests==2.32.2
aiohttp==3.11.10
pyrogram==2.1.0
telethon==1.38.1
instabot==0.119.0
instagram-private-api==2.0.0
PyJWT==3.0.0
Flask-Login==0.7.0
Flask-SocketIO==6.0.0
schedule==2.0.0
pydantic==2.10.6
pytest==8.4.0
loguru==0.8.0
bcrypt==4.2.1
pyttsx3==3.0.0
beautifulsoup4==5.0.0
tweepy==4.17.0
numpy==2.2.2
pandas==2.3.0
redis==5.2.1
APScheduler==3.11.0
yt-dlp==2024.11.04
gtts
googletrans==4.0.2
pillow
requests
qrcode
openai
